{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}

<div
  id="app"
  class="clearfix"
>
  <div class="map-container col-sm-8 col-lg-9">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <!-- START PLACE OPTIONS PANEL -->
  <div
    id="control-panel"
    class="col-sm-4 col-lg-3 clearfix"
  >
    <div class="col-xs-6 col-sm-12">
      <div class="panel panel-default">
        <div
          class="panel-body"
          id="options-panel"
        >
          <div>
            <h4>Hotels</h4>

            <select
              data-type="hotel"
              id="hotel-choices"
            >
              <!-- {% for hotel in hotels %}
              <option>{{hotel.name}}</option>
            {% endfor %} -->
            </select>

            <button
              data-action="add"
              id="add-hotel"
              data-source="#hotel-choices"
              data-target="#hotel-itinerary"
              class="btn btn-primary btn-circle pull-right"
            >+</button>
          </div>

          <div>
            <h4>Restaurants</h4>

            <select
              data-type="restaurant"
              id="restaurant-choices"
            >
              <!-- {% for restaurant in restaurants %}
              <option>{{restaurant.name}}</option>
            {% endfor %} -->
            </select>

            <button
              data-action="add"
              data-source="#restaurant-choices"
              data-target="#restaurant-itinerary"
              id="add-restaurant"
              class="btn btn-primary btn-circle pull-right"
            >+</button>
          </div>

          <div>
            <h4>Activities</h4>

            <select
              data-type="activity"
              id="activity-choices"
            >
              <!-- {% for activity in activities %}
              <option>{{activity.name}}</option>
            {% endfor %} -->
            </select>

            <button
              data-action="add"
              id="add-activity"
              data-source="#activity-choices"
              data-target="#activity-itinerary"
              class="btn btn-primary btn-circle pull-right"
            >+</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END PLACE OPTIONS PANEL -->
    <!-- START USER ITINERARY PANEL -->

    <div class="col-xs-6 col-sm-12">
      <h3>
        <span id="day-title">
          <span>Day <span id="current-day">1</span></span>
          <button class="btn btn-xs btn-danger remove btn-circle">x</button>
        </span>
      </h3>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div id="day-buttons" class="day-buttons">
            <button class="btn btn-circle day-btn current-day">1</button>
            <button
              data-action="add"
              class="btn btn-primary btn-circle"
            >+</button>
          </div>
        </div>

        <div
          class="panel-body"
          id="itinerary-panel"
        >
          <div>
            <h4>My Hotel</h4>

            <ul
              class="list-group"
              id="hotel-itinerary"
            ></ul>
          </div>

          <div>
            <h4>My Restaurants</h4>

            <ul
              class="list-group"
              id="restaurant-itinerary"
            ></ul>
          </div>

          <div>
            <h4>My Activities</h4>

            <ul
              class="list-group"
              id="activity-itinerary"
            ></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const hotels = {{ hotels | dump | safe }};
    const restaurants = {{ restaurants | dump | safe }};
    const activities = {{ activities | dump | safe }};
    const places = {hotels, restaurants, activities};
</script>

{% endblock %}
